.App{
  /* background-color:lightgray; */
  font-family:sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding:0;
}

.big-image{

  height: 65vh;
  width:inherit;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../src/images/banner.jpg");
}

.overlay{

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.profile{

  height:auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: gray;
  border-style: solid;


}

.logo{
  margin-top:auto;
  margin-bottom: auto;
  text-align: center;
  
}

.hero-text{
  text-align: center;
}

.heading{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: gray;
  
}

.services{
  color: white;
  text-align: center;
  margin-top:0;
}

.button{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.icon{
  font-size:60px;
}

.social{
  font-size:40px;
  color: white;
}

.portfolio{
  text-align: center;

}

.footer{
  background-color:rgb(52, 58, 64);
  text-align: center;
  color: white;
}

.submit{
  text-align: center;
}