/* Root app styling */

.App {
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  color: gray;
}

.page-break {
  border-top: dashed 3px;
  width: 50%;
  color: lightgrey;
  margin: auto;
  margin-top: 50px;
}

/* Navigation and Footer */

.nav-menu {
  margin-left: auto;
}

.footer {
  background-color: rgb(52, 58, 64);
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
  padding-top: 2rem;
  padding-bottom: .25rem;
  margin-top: 3rem;
}

.footer-info {
  text-align: center;
  border-top: antiquewhite;
  margin-top: 1rem;
}

.copyright {
  margin-top: 2rem;
}

/* -------------COMPONENTS------------------ */

.button {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon {
  font-size: 60px;
}

.content-container {
  min-height: calc(100vh - 120px);
}

/* Hero */

.big-image {
  height: 100vh;
  width: inherit;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../src/images/banner.jpg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  margin: auto;
  text-align: center;
  width: fit-content;
  display: block;
}

.social {
  font-size: 40px;
  color: white;
  margin: auto;
  display: inline-flex;
  width: fit-content;
}

.logo {
  margin: auto;
  width: 16rem;
  height: 15rem;
}

/* Services */

.services {
  color: white;
  text-align: center;
  margin-top: 0;
}

/* About */

.about-card {
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile {
  max-height: max-content;
  max-width: min-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Portfolio */

.portfolio {
  margin: auto;
}

/* Website */

.websites {
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-color: #DCDCDC;
  background-color: whitesmoke;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 15px;
}

.proj-image {
  height: 15rem;
  width: 16rem;
}

.proj_button{
  display: inline;
  margin: auto;
}


/* Contact */

.contact {
  text-align: center;
  margin-top: 3rem;
  display: block;
  text-align: center;
}

.contact-form {
  max-height: fit-content;
}

.form-control {
  margin: auto;
  text-align: center;
  max-width: 75%;
}

.form-group {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

#thank-you {
  font-size: large;
  display: block;
  text-align: center;
  margin-top: 3rem;
}