.App {
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

/* Styling for home page */

.big-image {
  height: 100vh;
  width: inherit;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../src/images/banner.jpg");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  justify-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.hero-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.page-break{
  margin-top: 7rem;
  margin-bottom: 5rem;
  border-top: dotted 3px;
  width: 10%;
  color: lightgrey;
}

.profile {
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.alumnus {
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: gray;
}

.services {
  color: white;
  text-align: center;
  margin-top: 0;
}

/* .service-card {
  height: 17rem;
  margin: auto;
} */

.button {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon {
  font-size: 60px;
}

.social {
  font-size: 50px;
  color: white;
  display: inline-flex;
  align-items: flex-start;
}

.contact {
  text-align: center;
  margin-top: 3rem;
  display: block;
  text-align: center;
}

.contact-form {
  max-height: fit-content;
}

.form-control{
  margin: auto;
  text-align: center;
}

#thank-you {
  font-size: large;
  display: block;
  text-align: center;
  margin-top: 3rem;
}

.content-container {
  min-height: calc(100vh - 120px);
}

.footer-info {
  text-align: center;
  border-top: antiquewhite;
  margin-top: 1rem;
}

.copyright {
  margin-top: 2rem;
}

.footer {
  background-color: rgb(52, 58, 64);
  text-align: center;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  position: relative;
  padding-top: 2rem;
  padding-bottom: .25rem;
}

.submit {
  text-align: center;
}

.card {
  height: auto;
  width: 18rem;
  margin-top: 40px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: #DCDCDC;
  background-color: whitesmoke;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 15px;
}

.button-card {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-card {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}