.App{
  font-family:sans-serif;
  margin-right: auto;
  margin-left: auto;
  padding:0;
}

/* Styling for home page */

.big-image{

  height: 100vh;
  width:inherit;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../src/images/banner.jpg");
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.hero-content{
  justify-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.logo{
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;

}

.hero-text{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.profile{
  height:auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: gray;
  border-style: solid;
}

.alumnus{
  height:auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-color: gray;
  border-style: solid;
  display:grid;
  vertical-align: middle;
}

.heading{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: gray;
}

.services{
  color: white;
  text-align: center;
  margin-top:0;
}

.button{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.icon{
  font-size:60px;
}

.social{
  font-size:50px;
  color: white;
  display:inline-flex;
}

.portfolio{
  text-align: center;

}

.content-container {
  min-height: calc(100vh - 120px);
}

.footer{
  background-color:rgb(52, 58, 64);
  text-align: center;
  color: white;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  position:relative;
}

.submit{
  text-align: center;
}